/* mixin */
@mixin bp($point) {
  @if $point == fullhd {
    @media (min-width: 1500px) { @content; }
  }
  @else if $point == extralarge {
    @media (max-width: 1199px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 991px) { @content; }
  }
  @else if $point == extralarge {
    @media (max-width: 1200px) and (min-width: 992px) {
      @content;
    }
  }
  @else if $point == extramedium {
    @media (max-width: 991px) and (min-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == small {
    @media (max-width: 576px)  { @content; }
  }
}
/* end of mixin */

* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: auto;
}

a {
  color: #ec743b;
}